# Data Exploration #

In [43]:
import pandas as pd
import numpy as np
import cftime
from netCDF4 import Dataset

# Display options
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 100)
pd.set_option("display.max_colwidth", None)

### Datasource 1: Our World in Data (CO2 Emission Dataset)

In [3]:

co2_data_url = "https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv"
co2_codebook_url = "https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-codebook.csv"

co2_data = pd.read_csv(co2_data_url)
co2_codebook = pd.read_csv(co2_codebook_url)

In [4]:
print(co2_data.shape)
display(co2_data)

(47415, 79)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.980,0.794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.113,NaN,NaN,NaN,NaN,0.113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.002,0.797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.111,NaN,NaN,NaN,NaN,0.110,NaN,NaN,0.157,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.022,0.799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.110,NaN,NaN,NaN,NaN,0.109,NaN,NaN,0.156,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.038,0.799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.110,NaN,NaN,NaN,NaN,0.107,NaN,NaN,0.156,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.053,0.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.109,NaN,NaN,NaN,NaN,0.106,NaN,NaN,0.155,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47410,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,0.558,0.037,10.715,1.419,15.265,19.423,0.534,2.826,1.290,0.855,0.375,0.712,0.472,0.207,6.097,0.405,10.626,0.706,0.468,19.037,763.817,2978.304,604.321,0.0,0.0,2269.846,140.459,NaN,3441.986,2.281,0.0,0.0,0.0,0.0,1.951,7.757,8.708,0.579,12.41,0.824,5.32,0.353,4.060,0.270,NaN,NaN,51.809,0.036,0.029,0.047,0.041,0.047,0.047,0.124,0.080,0.0,0.0,0.289,0.025,NaN,0.0,0.0,0.203,0.033,NaN,0.114,0.001,0.001,0.002,0.0,116.76,29.37,-0.088,-0.825
47411,Zimbabwe,2019,ZWE,15354606.0,NaN,0.473,0.031,9.775,-0.939,-8.765,17.854,-1.569,-8.076,1.163,NaN,0.387,0.637,NaN,0.212,5.571,0.363,9.918,0.646,NaN,19.509,773.593,2996.158,609.893,0.0,0.0,2277.924,144.191,NaN,3003.655,NaN,0.0,0.0,0.0,0.0,1.869,7.557,8.079,0.526,12.54,0.817,5.28,0.344,3.731,0.243,NaN,NaN,46.120,0.029,0.026,0.043,0.038,0.047,0.046,0.122,0.079,0.0,0.0,0.289,0.025,NaN,0.0,0.0,0.176,0.030,NaN,0.113,0.001,0.001,0.002,0.0,116.03,28.70,0.143,1.463
47412,Zimbabwe,2020,ZWE,15669663.0,NaN,0.496,0.032,7.850,-1.926,-19.700,15.459,-2.396,-13.417,0.987,NaN,0.368,0.501,NaN,0.187,4.309,0.275,8.668,0.553,NaN,20.005,781.442,3011.616,614.202,0.0,0.0,2285.533,147.235,NaN,2680.132,NaN,0.0,0.0,0.0,0.0,1.659,7.224,7.609,0.486,12.08,0.771,4.72,0.301,3.045,0.194,NaN,NaN,41.997,0.030,0.022,0.039,0.030,0.046,0.046,0.121,0.078,0.0,0.0,0.288,0.025,NaN,0.0,0.0,0.177,0.028,NaN,0.112,0.001,0.001,0.002,0.0,113.20,25.99,0.818,10.421
47413,Zimbabwe,2021,ZWE,15993525.0,NaN,0.531,0.033,8.396,0.547,6.962,15.513,0.054,0.352,0.970,NaN,0.368,0.525,NaN,0.199,4.548,0.284,9.484,0.593,NaN,20.536,789.838,3027.130,618.750,0.0,0.0,2292.650,150.552,NaN,2635.154,NaN,0.0,0.0,0.0,0.0,NaN,NaN,7.117,0.445,NaN,NaN,NaN,NaN,3.317,0.207,NaN,NaN,42.145,0.031,0.023,0.038,0.030,0.046,0.046,0.120,0.077,0.0,0.0,0.287,0.025,NaN,0.0,0.0,0.165,0.029,NaN,0.110,0.001,0.001,0.002,0.0,NaN,NaN,1.088,12.956
47414,Zimbabwe,2022,ZWE,16320539.0,NaN,0.531,0.033,8.856,0.460,5.477,15.580,0.067,0.432,0.955,NaN,NaN,0.543,NaN,NaN,5.027,0.308,NaN,NaN,NaN,21.067,798.694,3042.710,623.777,0.0,0.0,2299.374,153.851,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,6.724,0.412,NaN,NaN,NaN,NaN,3.298,0.202,NaN,NaN,NaN,0.033,0.024,0.038,0.033,0.045,0.045,0.118,0.076,0.0,0.0,0.287,0.025,NaN,0.0,0.0,0.156,0.028,NaN,0.110,0.001,0.001,0.002,0.0,NaN,NaN,NaN,NaN

In [5]:
co2_data.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2', 'cement_co2_per_capita',
       'co2', 'co2_growth_abs', 'co2_growth_prct', 'co2_including_luc',
       'co2_including_luc_growth_abs', 'co2_including_luc_growth_prct',
       'co2_including_luc_per_capita', 'co2_including_luc_per_gdp',
       'co2_including_luc_per_unit_energy', 'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy',
       'coal_co2', 'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2', 'cumulative_flaring_co2',
       'cumulative_gas_co2', 'cumulative_luc_co2', 'cumulative_oil_co2', 'cumulative_other_co2',
       'energy_per_capita', 'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane', 'methane_per_capita',
       'nitrous_oxide', 'nitrous_oxide_per_capita', 'oil_co2', 'oil_co2_per_capita',
       'other_co2_per_capita', 'other_industry_co2', 'primary_energy_consumption',
       'share_global_cement_co2', 'share_global_co2', 'share_global_co2_including_luc',
       'share_global_coal_co2', 'share_global_cumulative_cement_co2',
       'share_global_cumulative_co2', 'share_global_cumulative_co2_including_luc',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2',
       'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2',
       'share_global_flaring_co2', 'share_global_gas_co2', 'share_global_luc_co2',
       'share_global_oil_co2', 'share_global_other_co2', 'share_of_temperature_change_from_ghg',
       'temperature_change_from_ch4', 'temperature_change_from_co2', 'temperature_change_from_ghg',
       'temperature_change_from_n2o', 'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2',
       'trade_co2_share'],
      dtype='object')

In [6]:
co2_data.describe()

,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
count,47415.000000,3.941400e+04,1.449500e+04,23764.000000,22017.000000,30308.000000,28157.000000,25136.000000,23320.000000,23030.000000,23313.000000,23320.000000,15608.000000,9608.000000,26600.000000,16290.000000,10241.000000,25075.000000,24389.000000,4718.000000,4365.000000,3899.000000,23681.000000,2.849500e+04,2.332000e+04,24992.000000,24909.000000,25000.000000,37022.000000,25028.000000,2593.000000,10019.000000,7120.000000,24992.000000,24261.000000,25083.000000,24352.000000,6354.000000,6354.000000,37022.000000,36313.000000,6355.000000,6355.000000,6355.000000,6355.000000,25111.000000,24380.000000,2447.000000,2593.000000,10061.000000,20208.000000,28495.000000,23320.000000,24992.000000,20208.00000,28495.000000,23320.000000,24992.000000,16129.000000,22156.000000,37022.000000,23513.000000,2593.000000,16129.000000,22156.000000,37022.000000,23513.000000,2593.000000,41280.000000,37840.000000,41280.000000,41280.000000,37840.000000,6354.000000,6354.000000,4398.000000,4397.000000
mean,1926.781609,6.095120e+07,2.687475e+11,9.109400,0.066798,391.272161,5.868310,20.055703,534.225708,7.445587,9.863664,7.143287,2.413035,1.093811,3.711039,0.419516,0.241038,156.963937,1.104644,1309.603291,6.394144,0.362421,219.331049,1.146523e+04,2.729740e+04,7843.451040,107.396650,1259.536493,10100.592707,3610.665969,367.392905,24628.260538,1.814043,3.636449,0.161522,51.278100,0.542959,6.862818,7.702494,124.515304,4.307096,150.530700,1.913916,53.849023,0.570777,112.920681,2.173166,0.073191,17.499371,2444.832196,3.420442,5.163432,3.619222,5.925584,3.45314,5.288265,3.504277,6.082003,2.036787,2.764619,2.808000,3.350628,18.963857,2.087507,2.827615,2.698794,3.333763,19.199870,2.236230,0.002991,0.007369,0.010630,0.000490,790.430981,759.384745,-7.157874,20.368010
std,59.561600,3.289137e+08,2.108100e+12,66.463548,0.125367,1855.824655,59.845871,687.366449,2164.644277,97.593192,583.851775,10.175788,6.237191,5.062340,14.295634,0.558873,0.259517,765.720061,2.239534,3825.367597,6.778463,0.264508,1507.080408,6.745946e+04,1.184846e+05,38885.614702,702.114132,9102.456416,43680.372926,23534.270658,984.051230,31915.311696,1.784316,20.916280,2.314793,316.033834,2.323962,7.355584,8.256101,488.635011,9.185146,666.269898,2.834732,232.765422,0.747627,629.451112,14.073286,0.057262,41.335944,11051.814940,14.308661,18.344653,11.680886,19.655937,14.20052,19.116593,11.602702,20.459081,9.163807,14.095382,10.102528,13.012762,33.164815,9.101885,13.698968,10.272918,12.816615,33.432368,9.115378,0.016277,0.041778,0.059565,0.002922,3610.534250,3531.641287,269.156220,52.720717
min,1750.000000,2.220000e+02,4.998000e+07,0.000000,0.000000,0.000000,-2032.366000,-100.000000,-187.847000,-2334.695000,-12331.075000,-10.545000,-6.605000,-3.659000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,-1.378270e+02,0.000000,0.000000,0.000000,-4409.774000,0.000000,0.000000,0.000000,0.078000,0.000000,0.000000,0.000000,0.000000,0.100000,-30.809000,-284.799000,-13.945000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.814000,0.000000,0.00000,0.000000,-0.138000,0.000000,0.000000,0.000000,-0.604000,0.000000,0.000000,0.000000,0.000000,-5.289000,0.000000,0.000000,-0.782000,-0.001000,0.000000,-0.001000,0.000000,-186.660000,0.010000,-2367.758000,-99.795000
25%,1883.000000,3.448688e+05,7.467786e+09,0.000000,0.000000,0.183000,0.000000,-0.733500,5.950750,-0.752750,-4.058000,1.903000,0.413000,0.202000,0.132000,0.137000,0.176000,0.000000,0.000000,11.404500,1.130000,0.212000,0.000000,1.722500e+00,1.635658e+02,0.103000,0.000000,0.000000,14.126500,0.844750,6.337000,2997.556500,0.858000,0.000000,0.000000,0.000000,0.000000,2.010750,2.614250,0.047000,0.195000,2.145000,0.682500,0.550000,0.209000,0.084000,0.042000,0.025000,0.608000,7.373000,0.000000,0.002000,0.035000,0.000000,0.00000,0.001000,0.023000,0.000000,0.000000,0.000000,0.010000,0.004000,0.180000,0.000000,0.000000,0.001000,0.005000,0.249000,0.003000,0.000000,0.000000,0.000000,0.000000,8.450000,7.042500,-3.024750,-6.287000
50%,1930.000000,2.449992e+06,2.580919e+10,0.029000,0.008000,3.856000,0.026000,3.749500,27.777000,0.071000,0.981000,4.458000,0.884000,0.276000,0.933000,0.277000,0.216000,0.703000,0.091000,71.689500,4.176000,0.313000,0.320000,5.626100e+01,1.092420e+03,15.749500,0.000000,0.000000,295.839000,22.789000,39.301000,12871.409000,1.320000,0.000000,0.000000,0.000000,0.000000,4.661000,5.471500,3.862000,1.395000,9.650000,1.055000,3.810000,0.359000,1.323000,0.382000,0.066000,2.850000,66.174000,0.041000,0.037000,0.177000,0.019000,0.03700,0.020000,0.143000,0.011000,0.000000,0.000000,0.119000,0.057000,0.975000,0.000000,0.000000,0.092000,0.067000,1.431000,0.072000,0.000000,0.000000,0.000000,0.000000,38.285000,30.830000,1.478500,8.741000
75%,1976.000000,1.011714e+07,1.133021e+11,0.834000,0.093000,47.277250,0.873000,10.593500,124.373750,2.568500,5.723000,8.952250,2.156000,0.708000,4.150000,0.532000,0.255000,16.988000,1.158000,446.108250,9.813000,0.436000,16.964000,9.492460e+02,5.147064e+03,539.977750,0.000000,13.940250,1862.538250,298.435250,188.069000,35800.914000,2.212500,0.000000,0.000000,1.344500,0.090250,8.842500,9.934750,23.906750,4.639000,38.905000,1.765500,15.940000,0.582500,13.916000,1.942000,0.102000,10.562000,458.350000,0.442000,0.518000,0.869000,0.574000,0.44400,0.356000,0.767000,0.421250,0.063000,0.077000,0.571000,0.514000,19.357000,0.090000,0.126000,0.537750,0.546000,19.405000,0.337000,0.001000,0.001000,0.001000,0.000000,153.595000,131.512500,9.124000,32.512000
max,2022.000000,7.975105e+09,1.136302e+14,1692.404000,2.574000,37149.785000,1813.064000,102318.508000,41637.617000,2340.859000,77926.773000,367.946000,306.366000,353.996000,771.886000,37.608000,10.686000,15219.304000,34.229000,37149.785000,63.445000,3.509000,46643.250000,1.772868e+06,2.570295e+06,819172.750000,19375.447000,261774.234000,802000.125000,615910.062000,9991.812000,317440.500000,25.253000,435.427000,113.215000,7922.112000,53.311000,66.649000,73.570000,7773.274000,228.145000,8654.750000,33.734000,3126.700000,7.127000,12377.949000,771.886000,0.348000,305.387000,167787.672000,100.001000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.417000,1.136000,1.635000,0.083000,49880.602000,48089.621000,2187.777000,576.482000

In [7]:
with pd.option_context("display.max_rows", None):
    display(co2_codebook)

,column,description,unit,source
0,country,Country - Geographic location.,NaN,Our World in Data - Regions (2022)
1,year,Year - Year of observation.,NaN,Our World in Data - Regions (2022)
2,iso_code,ISO code - ISO 3166-1 alpha-3 three-letter country codes.,NaN,International Organization for Standardization - Regions (2023)
3,population,"Population - Population by country, available from 10,000 BCE to 2100, based on data and estimates from different sources.",persons,Population based on various sources (2023) [https://ourworldindata.org/population-sources]
4,gdp,GDP - Gross domestic product measured in international-$ using 2011 prices to adjust for price changes over time (inflation) and price differences between countries. Calculated by multiplying GDP per capita with population.,international-$ in 2011 prices,"Maddison Project Database 2020 (Bolt and van Zanden, 2020) [https://www.rug.nl/ggdc/historicaldevelopment/maddison/releases/maddison-project-database-2020]"
5,cement_co2,"Annual CO₂ emissions from cement - Annual emissions of carbon dioxide (CO₂) from cement, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
6,cement_co2_per_capita,"Annual CO₂ emissions from cement (per capita) - Annual emissions of carbon dioxide (CO₂) from cement, measured in tonnes per person.",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
7,co2,"Annual CO₂ emissions - Annual total emissions of carbon dioxide (CO₂), excluding land-use change, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
8,co2_growth_abs,"Annual CO₂ emissions growth (abs) - Annual growth in total emissions of carbon dioxide (CO₂), excluding land-use change, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
9,co2_growth_prct,"Annual CO₂ emissions growth (%) - Annual percentage growth in total emissions of carbon dioxide (CO₂), excluding land-use change.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
10,co2_including_luc,"Annual CO₂ emissions including land-use change - Annual total emissions of carbon dioxide (CO₂), including land-use change, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
11,co2_including_luc_growth_abs,"Growth rate of emissions including land-use change - Annual growth in total emissions of carbon dioxide (CO₂), including land-use change, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
12,co2_including_luc_growth_prct,"Growth rate of emissions including land-use change (%) - Annual percentage growth in total emissions of carbon dioxide (CO₂), including land-use change.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
13,co2_including_luc_per_capita,"Annual CO₂ emissions including land-use change per capita - Annual emissions of carbon dioxide (CO₂), including land-use change, measured in tonnes per person.",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
14,co2_including_luc_per_gdp,"Annual CO₂ emissions including land-use change per GDP - Annual total emissions of carbon dioxide (CO₂), including land-use change, measured in kilograms per dollar of GDP (2011 international-$).",kilograms per international-$,"Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Maddison Project Database 2020 (Bolt and van Zanden, 2020) [https://www.rug.nl/ggdc/historicaldevelopment/maddison/releases/maddison-project-database-2020]"
15,co2_including_luc_per_unit_energy,"Annual CO₂ emissions including land-use change per unit energy - Annual total emissions of carbon dioxide (CO₂), including land-use change, measured in kilograms per kilowatt-hour of primary energy consumption.",kilograms per kilowatt-hour,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; U.S. Energy Information Administration - International Energy Data (2023) [https://www.eia.gov/opendata/bulkfiles.php]; Energy Institute - Statistical Review of World Energy (2023) [https://www.energyinst.org/statistical-review/]
16,co2_per_capita,"Annual CO₂ emissions (per capita) - Annual total emissions of carbon dioxide (CO₂), excluding land-use change, measured in tonnes per person.",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
17,co2_per_gdp,"Annual CO₂ emissions per GDP (kg per international-$) - Annual total emissions of carbon dioxide (CO₂), excluding land-use change, measured in kilograms per dollar of GDP (2011 international-$).",kilograms per international-$,"Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Maddison Project Database 2020 (Bolt and van Zanden, 2020) [https://www.rug.nl/ggdc/historicaldevelopment/maddison/releases/maddison-project-database-2020]"
18,co2_per_unit_energy,"Annual CO₂ emissions per unit energy (kg per kilowatt-hour) - Annual total emissions of carbon dioxide (CO₂), excluding land-use change, measured in kilograms per kilowatt-hour of primary energy consumption.",kilograms per kilowatt-hour,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; U.S. Energy Information Administration - International Energy Data (2023) [https://www.eia.gov/opendata/bulkfiles.php]; Energy Institute - Statistical Review of World Energy (2023) [https://www.energyinst.org/statistical-review/]
19,coal_co2,"Annual CO₂ emissions from coal - Annual emissions of carbon dioxide (CO₂) from coal, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
20,coal_co2_per_capita,"Annual CO₂ emissions from coal (per capita) - Annual emissions of carbon dioxide (CO₂) from coal, measured in tonnes per person.",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
21,consumption_co2,"Annual consumption-based CO₂ emissions - Annual consumption-based emissions of carbon dioxide (CO₂), measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
22,consumption_co2_per_capita,"Per capita consumption-based CO₂ emissions - Annual consumption-based emissions of carbon dioxide (CO₂), measured in tonnes per person.\n",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
23,consumption_co2_per_gdp,"Annual consumption-based CO₂ emissions per GDP (kg per international-$) - Annual consumption-based emissions of carbon dioxide (CO₂), measured in kilograms per dollar of GDP (2011 international-$).",kilograms per international-$,"Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Maddison Project Database 2020 (Bolt and van Zanden, 2020) [https://www.rug.nl/ggdc/historicaldevelopment/maddison/releases/maddison-project-database-2020]"
24,cumulative_cement_co2,"Cumulative CO₂ emissions from cement - Cumulative emissions of carbon dioxide (CO₂) from cement since the first year of available data, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
25,cumulative_co2,"Cumulative CO₂ emissions - Total cumulative emissions of carbon dioxide (CO₂), excluding land-use change, since the first year of available data, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
26,cumulative_co2_including_luc,"Cumulative CO₂ emissions including land-use change - Total cumulative emissions of carbon dioxide (CO₂), including land-use change, since the first year of available data, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
27,cumulative_coal_co2,"Cumulative CO₂ emissions from coal - Cumulative emissions of carbon dioxide (CO₂) from coal since the first year of available data, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
28,cumulative_flaring_co2,"Cumulative CO₂ emissions from flaring - Cumulative emissions of carbon dioxide (CO₂) from flaring since the first year of available data, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
29,cumulative_gas_co2,"Cumulative CO₂ emissions from gas - Cumulative emissions of carbon dioxide (CO₂) from gas since the first year of available data, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
30,cumulative_luc_co2,"Cumulative CO₂ emissions from land-use change - Cumulative emissions of carbon dioxide (CO₂) from land-use change since the first year of available data, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
31,cumulative_oil_co2,"Cumulative CO₂ emissions from oil - Cumulative emissions of carbon dioxide (CO₂) from oil since the first year of available data, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
32,cumulative_other_co2,"Cumulative CO₂ emissions from other industry - Cumulative emissions of carbon dioxide (CO₂) from other industry sources since the first year of available data, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
33,energy_per_capita,Primary energy consumption per capita - Measured in kilowatt-hours per person.,kilowatt-hours per person,U.S. Energy Information Administration - International Energy Data (2023) [https://www.eia.gov/opendata/bulkfiles.php]; Energy Institute - Statistical Review of World Energy (2023) [https://www.energyinst.org/statistical-review/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
34,energy_per_gdp,Primary energy consumption per GDP - Measured in kilowatt-hours per international-$.,kilowatt-hours per $,"U.S. Energy Information Administration - International Energy Data (2023) [https://www.eia.gov/opendata/bulkfiles.php]; Energy Institute - Statistical Review of World Energy (2023) [https://www.energyinst.org/statistical-review/]; Maddison Project Database 2020 (Bolt and van Zanden, 2020) [https://www.rug.nl/ggdc/historicaldevelopment/maddison/releases/maddison-project-database-2020]"
35,flaring_co2,"Annual CO₂ emissions from flaring - Annual emissions of carbon dioxide (CO₂) from flaring, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
36,flaring_co2_per_capita,"Annual CO₂ emissions from flaring (per capita) - Annual emissions of carbon dioxide (CO₂) from flaring, measured in tonnes per person.",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
37,gas_co2,"Annual CO₂ emissions from gas - Annual emissions of carbon dioxide (CO₂) from gas, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
38,gas_co2_per_capita,"Annual CO₂ emissions from gas (per capita) - Annual emissions of carbon dioxide (CO₂) from gas, measured in tonnes per person.",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
39,ghg_excluding_lucf_per_capita,Total greenhouse gas emissions per capita excluding land-use change and forestry - Emissions are measured in tonnes of carbon dioxide-equivalents per person.,tonnes per person,Climate Watch - Greenhouse gas emissions by sector (2023) [https://www.climatewatchdata.org/data-explorer/historical-emissions]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
40,ghg_per_capita,Total greenhouse gas emissions per capita including land-use change and forestry - Emissions are measured in tonnes of carbon dioxide-equivalents per person.,tonnes per person,Climate Watch - Greenhouse gas emissions by sector (2023) [https://www.climatewatchdata.org/data-explorer/historical-emissions]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
41,land_use_change_co2,"Annual CO₂ emissions from land-use change - Annual emissions of carbon dioxide (CO₂) from land-use change, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
42,land_use_change_co2_per_capita,"Annual CO₂ emissions from land-use change per capita - Annual emissions of carbon dioxide (CO₂) from land-use change, measured in tonnes per person.",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
43,methane,Total methane emissions including land-use change and forestry - Emissions are measured in million tonnes of carbon dioxide-equivalents.,million tonnes,Climate Watch - Greenhouse gas emissions by sector (2023) [https://www.climatewatchdata.org/data-explorer/historical-emissions]
44,methane_per_capita,Total methane emissions per capita including land-use change and forestry - Emissions are measured in tonnes of carbon dioxide-equivalents per person.,tonnes per person,Climate Watch - Greenhouse gas emissions by sector (2023) [https://www.climatewatchdata.org/data-explorer/historical-emissions]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
45,nitrous_oxide,Total nitrous oxide emissions including land-use change and forestry - Emissions are measured in million tonnes of carbon dioxide-equivalents.,million tonnes,Climate Watch - Greenhouse gas emissions by sector (2023) [https://www.climatewatchdata.org/data-explorer/historical-emissions]
46,nitrous_oxide_per_capita,Total nitrous oxide emissions per capita including land-use change and forestry - Emissions are measured in tonnes of carbon dioxide-equivalents per person.,tonnes per person,Climate Watch - Greenhouse gas emissions by sector (2023) [https://www.climatewatchdata.org/data-explorer/historical-emissions]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
47,oil_co2,"Annual CO₂ emissions from oil - Annual emissions of carbon dioxide (CO₂) from oil, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
48,oil_co2_per_capita,"Annual CO₂ emissions from oil (per capita) - Annual emissions of carbon dioxide (CO₂) from oil, measured in tonnes per person.",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
49,other_co2_per_capita,"Annual CO₂ emissions from other industry (per capita) - Annual emissions of carbon dioxide (CO₂) from other industry sources, measured in tonnes per person.",tonnes per person,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]; Population based on various sources (2023) [https://ourworldindata.org/population-sources]
50,other_industry_co2,"Annual CO₂ emissions from other industry - Annual emissions of carbon dioxide (CO₂) from other industry sources, measured in million tonnes.",million tonnes,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
51,primary_energy_consumption,Primary energy consumption - Measured in terawatt-hours.,terawatt-hours,U.S. Energy Information Administration - International Energy Data (2023) [https://www.eia.gov/opendata/bulkfiles.php]; Energy Institute - Statistical Review of World Energy (2023) [https://www.energyinst.org/statistical-review/]
52,share_global_cement_co2,"Share of global annual CO₂ emissions from cement - Annual emissions of carbon dioxide (CO₂) from cement, measured as a percentage of global emissions of CO₂ from cement in the same year.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
53,share_global_co2,"Share of global annual CO₂ emissions - Annual total emissions of carbon dioxide (CO₂), excluding land-use change, measured as a percentage of global emissions of CO₂ in the same year.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
54,share_global_co2_including_luc,"Share of global annual CO₂ emissions including land-use change - Annual total emissions of carbon dioxide (CO₂), including land-use change, measured as a percentage of global total emissions of CO₂ in the same year.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
55,share_global_coal_co2,"Share of global annual CO₂ emissions from coal - Annual emissions of carbon dioxide (CO₂) from coal, measured as a percentage of global emissions of CO₂ from coal in the same year.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
56,share_global_cumulative_cement_co2,"Share of global cumulative CO₂ emissions from cement - Cumulative emissions of carbon dioxide (CO₂) from cement since the first year of available data, measured as a percentage of global cumulative emissions of CO₂ from cement.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
57,share_global_cumulative_co2,"Share of global cumulative CO₂ emissions - Total cumulative emissions of carbon dioxide (CO₂), excluding land-use change, since the first year of available data, measured as a percentage of global total cumulative emissions of CO₂.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
58,share_global_cumulative_co2_including_luc,"Share of global cumulative CO₂ emissions including land-use change - Total cumulative emissions of carbon dioxide (CO₂), including land-use change, since the first year of available data, measured as a percentage of global total cumulative emissions of CO₂ (including land-use change).",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
59,share_global_cumulative_coal_co2,"Share of global cumulative CO₂ emissions from coal - Cumulative emissions of carbon dioxide (CO₂) from coal since the first year of available data, measured as a percentage of global cumulative emissions of CO₂ from coal.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
60,share_global_cumulative_flaring_co2,"Share of global cumulative CO₂ emissions from flaring - Cumulative emissions of carbon dioxide (CO₂) from flaring since the first year of available data, measured as a percentage of global cumulative emissions of CO₂ from flaring.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
61,share_global_cumulative_gas_co2,"Share of global cumulative CO₂ emissions from gas - Cumulative emissions of carbon dioxide (CO₂) from gas since the first year of available data, measured as a percentage of global cumulative emissions of CO₂ from gas.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
62,share_global_cumulative_luc_co2,"Share of global cumulative CO₂ emissions from land-use change - Cumulative emissions of carbon dioxide (CO₂) from land-use change since the first year of available data, measured as a percentage of global cumulative emissions of CO₂ from land-use change.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]
63,share_global_cumulative_oil_co2,"Share of global cumulative CO₂ emissions from oil - Cumulative emissions of carbon dioxide (CO₂) from oil since the first year of available data, measured as a percentage of global cumulative emissions of CO₂ from oil.",%,Global Carbon Budget (2023) [https://globalcarbonbudget.org/]

In [8]:
key_columns = ["country", "year", "co2", "co2_per_capita", "co2_per_gdp", "temperature_change_from_co2"]

In [9]:
co2_data_filtered = co2_data[key_columns]
print(co2_data_filtered.shape)

(47415, 6)

In [10]:
display(co2_data_filtered)

           country  year     co2  co2_per_capita  co2_per_gdp  temperature_change_from_co2
0      Afghanistan  1850     NaN             NaN          NaN                          NaN
1      Afghanistan  1851     NaN             NaN          NaN                        0.000
2      Afghanistan  1852     NaN             NaN          NaN                        0.000
3      Afghanistan  1853     NaN             NaN          NaN                        0.000
4      Afghanistan  1854     NaN             NaN          NaN                        0.000
...            ...   ...     ...             ...          ...                          ...
47410     Zimbabwe  2018  10.715           0.712        0.472                        0.001
47411     Zimbabwe  2019   9.775           0.637          NaN                        0.001
47412     Zimbabwe  2020   7.850           0.501          NaN                        0.001
47413     Zimbabwe  2021   8.396           0.525          NaN                        0.001
47414     Zimbabwe  2022   8.856           0.543          NaN                        0.001

[47415 rows x 6 columns]

In [11]:
co2_data_filtered.describe()

               year           co2  co2_per_capita   co2_per_gdp  temperature_change_from_co2
count  47415.000000  30308.000000    26600.000000  16290.000000                 41280.000000
mean    1926.781609    391.272161        3.711039      0.419516                     0.007369
std       59.561600   1855.824655       14.295634      0.558873                     0.041778
min     1750.000000      0.000000        0.000000      0.000000                     0.000000
25%     1883.000000      0.183000        0.132000      0.137000                     0.000000
50%     1930.000000      3.856000        0.933000      0.277000                     0.000000
75%     1976.000000     47.277250        4.150000      0.532000                     0.001000
max     2022.000000  37149.785000      771.886000     37.608000                     1.136000

In [12]:
co2_data_filtered.isnull().sum()

country                            0
year                               0
co2                            17107
co2_per_capita                 20815
co2_per_gdp                    31125
temperature_change_from_co2     6135
dtype: int64

In [13]:
co2_data_filtered.nunique()

country                          261
year                             273
co2                            15990
co2_per_capita                  8739
co2_per_gdp                     1762
temperature_change_from_co2      432
dtype: int64

In [14]:
co2_data_filtered["country"].unique()

array(['Afghanistan', 'Africa', 'Africa (GCP)', 'Albania', 'Algeria',
       'Andorra', 'Angola', 'Anguilla', 'Antarctica',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Asia',
       'Asia (GCP)', 'Asia (excl. China and India)', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Central America (GCP)', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Europe (GCP)',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (28)', 'Faroe Islands',
       'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International aviation',
       'International shipping', 'International transport', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kuwaiti Oil Fires', 'Kuwaiti Oil Fires (GCP)', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Least developed countries (Jones et al.)',
       'Lebanon', 'Leeward Islands', 'Leeward Islands (GCP)', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (country)', 'Middle East (GCP)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Non-OECD (GCP)', 'North America',
       'North America (GCP)', 'North America (excl. USA)', 'North Korea',
       'North Macedonia', 'Norway', 'OECD (GCP)', 'OECD (Jones et al.)',
       'Oceania', 'Oceania (GCP)', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Panama Canal Zone',
       'Panama Canal Zone (GCP)', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Ryukyu Islands', 'Ryukyu Islands (GCP)', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South America (GCP)', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts-Nevis-Anguilla',
       'St. Kitts-Nevis-Anguilla (GCP)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper-middle-income countries', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [15]:
# Global co2 emissions
co2_data_filtered[co2_data_filtered["country"] == "World"]

      country  year        co2  co2_per_capita  co2_per_gdp  temperature_change_from_co2
46623   World  1750      9.306           0.012          NaN                          NaN
46624   World  1751      9.407             NaN          NaN                          NaN
46625   World  1752      9.505             NaN          NaN                          NaN
46626   World  1753      9.610             NaN          NaN                          NaN
46627   World  1754      9.734             NaN          NaN                          NaN
...       ...   ...        ...             ...          ...                          ...
46891   World  2018  36766.945           4.785        0.324                        1.064
46892   World  2019  37040.102           4.770          NaN                        1.082
46893   World  2020  35007.738           4.465          NaN                        1.100
46894   World  2021  36816.543           4.655          NaN                        1.118
46895   World  2022  37149.785           4.658          NaN                        1.136

[273 rows x 6 columns]

In [16]:
co2_data_filtered[co2_data_filtered["country"] == "Germany"].tail(20)

       country  year      co2  co2_per_capita  co2_per_gdp  temperature_change_from_co2
16866  Germany  2003  899.858          11.062        0.314                        0.035
16867  Germany  2004  885.633          10.898        0.302                        0.035
16868  Germany  2005  865.471          10.657        0.290                        0.036
16869  Germany  2006  877.498          10.810        0.280                        0.036
16870  Germany  2007  850.230          10.473        0.260                        0.036
16871  Germany  2008  852.858          10.501        0.255                        0.037
16872  Germany  2009  788.286           9.701        0.247                        0.037
16873  Germany  2010  831.130          10.220        0.248                        0.037
16874  Germany  2011  807.614           9.919        0.229                        0.038
16875  Germany  2012  812.816           9.968        0.230                        0.038
16876  Germany  2013  833.804          10.208        0.235                        0.039
16877  Germany  2014  794.738           9.709        0.220                        0.039
16878  Germany  2015  798.085           9.724        0.217                        0.039
16879  Germany  2016  801.745           9.738        0.215                        0.040
16880  Germany  2017  785.986           9.513        0.205                        0.040
16881  Germany  2018  754.811           9.105        0.194                        0.040
16882  Germany  2019  707.491           8.509          NaN                        0.041
16883  Germany  2020  647.252           7.767          NaN                        0.041
16884  Germany  2021  678.799           8.138          NaN                        0.041
16885  Germany  2022  665.605           7.984          NaN                        0.041

In [17]:
co2_data_filtered_no_nan = co2_data_filtered.dropna(subset=["co2"])
co2_data_valid_records_per_country = co2_data_filtered_no_nan.groupby("country").first().reset_index()
display(co2_data_valid_records_per_country.head(30))

,country,year,co2,co2_per_capita,co2_per_gdp,temperature_change_from_co2
0,Afghanistan,1949,0.015,0.002,0.009,0.000
1,Africa,1750,0.000,0.000,0.000,0.000
2,Africa (GCP),1850,0.000,NaN,NaN,NaN
3,Albania,1933,0.007,0.007,0.152,0.000
4,Algeria,1916,0.004,0.001,0.196,0.000
5,Andorra,1750,0.000,0.000,NaN,0.000
6,Angola,1950,0.187,0.042,0.027,0.001
7,Anguilla,1990,0.048,5.711,NaN,0.000
8,Antarctica,1987,0.004,NaN,NaN,0.000
9,Antigua and Barbuda,1957,0.022,0.421,NaN,-0.000
10,Argentina,1887,1.085,0.354,0.105,0.001
11,Armenia,1830,0.000,0.000,0.228,0.000
12,Aruba,1926,0.033,9.935,NaN,0.000
13,Asia,1750,0.000,0.000,0.000,0.000
14,Asia (GCP),1850,0.013,NaN,NaN,NaN
15,Asia (excl. China and India),1750,0.000,0.000,0.000,0.000
16,Australia,1750,0.000,0.000,0.022,0.000
17,Austria,1807,0.169,0.054,0.051,0.000
18,Azerbaijan,1860,0.009,0.007,0.933,0.000
19,Bahamas,1950,0.055,0.673,NaN,0.000
20,Bahrain,1933,0.011,0.092,3.586,0.000
21,Bangladesh,1946,0.117,0.003,0.025,0.001
22,Barbados,1928,0.004,0.022,0.102,0.000
23,Belarus,1830,0.001,0.000,0.995,0.000
24,Belgium,1802,6.397,1.958,0.773,0.000
25,Belize,1950,0.018,0.265,NaN,0.000
26,Benin,1950,0.138,0.061,0.051,0.000
27,Bermuda,1950,0.044,1.183,NaN,0.000
28,Bhutan,1750,0.000,0.000,NaN,0.000
29,Bolivia,1928,0.004,0.001,0.001,0.001

In [18]:
first_co2_records_per_country = co2_data_filtered_no_nan.groupby('country')['year'].min().reset_index()
first_co2_records_per_country

               country  year
0          Afghanistan  1949
1               Africa  1750
2         Africa (GCP)  1850
3              Albania  1933
4              Algeria  1916
..                 ...   ...
245  Wallis and Futuna  1990
246              World  1750
247              Yemen  1950
248             Zambia  1950
249           Zimbabwe  1903

[250 rows x 2 columns]

In [19]:
common_start_year = first_co2_records_per_country["year"].max()
print(f"Earliest year where all countries have CO2 records:", common_start_year)

Earliest year where all countries have CO2 records: 2004

#### For selected countries/continents: <br> World, Africa (GCP), Asia (GCP), North America (GCP), United States, China, Germany, India, South Africa, Brazil, Saudia Arabia

In [20]:
key_countries = ["World", "Africa (GCP)", "Asia (GCP)", "North America (GCP)", "United States", "China", "Germany", "India", "South Africa", "Brazil", "Saudi Arabia"]

In [21]:
co2_data_selected_countries = co2_data_filtered[co2_data_filtered["country"].isin(key_countries)]
co2_data_selected_countries

            country  year        co2  co2_per_capita  co2_per_gdp  temperature_change_from_co2
446    Africa (GCP)  1850      0.000             NaN          NaN                          NaN
447    Africa (GCP)  1851      0.000             NaN          NaN                          NaN
448    Africa (GCP)  1852      0.000             NaN          NaN                          NaN
449    Africa (GCP)  1853      0.000             NaN          NaN                          NaN
450    Africa (GCP)  1854      0.000             NaN          NaN                          NaN
...             ...   ...        ...             ...          ...                          ...
46891         World  2018  36766.945           4.785        0.324                        1.064
46892         World  2019  37040.102           4.770          NaN                        1.082
46893         World  2020  35007.738           4.465          NaN                        1.100
46894         World  2021  36816.543           4.655          NaN                        1.118
46895         World  2022  37149.785           4.658          NaN                        1.136

[2111 rows x 6 columns]

In [22]:
co2_data_selected_countries_no_nan = co2_data_selected_countries.dropna(subset=["co2", "temperature_change_from_co2"])

In [23]:
with pd.option_context("display.max_rows", None):
    display(co2_data_selected_countries_no_nan[co2_data_selected_countries_no_nan["country"] == "World"].tail(30))

      country  year        co2  co2_per_capita  co2_per_gdp  temperature_change_from_co2
46866   World  1993  22798.350           4.088          NaN                        0.677
46867   World  1994  23034.775           4.069          NaN                        0.690
46868   World  1995  23524.490           4.096          NaN                        0.702
46869   World  1996  24250.160           4.163          NaN                        0.716
46870   World  1997  24395.951           4.130          NaN                        0.730
46871   World  1998  24330.945           4.064          NaN                        0.743
46872   World  1999  24833.494           4.093          NaN                        0.757
46873   World  2000  25501.287           4.147        0.426                        0.770
46874   World  2001  25674.930           4.121          NaN                        0.784
46875   World  2002  26248.289           4.158          NaN                        0.798
46876   World  2003  27648.648           4.324          NaN                        0.812
46877   World  2004  28620.193           4.420          NaN                        0.827
46878   World  2005  29592.104           4.512          NaN                        0.842
46879   World  2006  30605.766           4.608          NaN                        0.858
46880   World  2007  31499.734           4.683          NaN                        0.874
46881   World  2008  32041.902           4.704          NaN                        0.890
46882   World  2009  31493.266           4.565          NaN                        0.906
46883   World  2010  33306.328           4.768        0.371                        0.923
46884   World  2011  34436.469           4.869          NaN                        0.940
46885   World  2012  34935.453           4.878          NaN                        0.958
46886   World  2013  35232.469           4.859          NaN                        0.975
46887   World  2014  35466.195           4.833          NaN                        0.993
46888   World  2015  35463.215           4.775          NaN                        1.011
46889   World  2016  35460.027           4.720        0.331                        1.029
46890   World  2017  36025.453           4.740        0.326                        1.046
46891   World  2018  36766.945           4.785        0.324                        1.064
46892   World  2019  37040.102           4.770          NaN                        1.082
46893   World  2020  35007.738           4.465          NaN                        1.100
46894   World  2021  36816.543           4.655          NaN                        1.118
46895   World  2022  37149.785           4.658          NaN                        1.136

In [24]:
first_co2_records_per_selected_country = co2_data_selected_countries_no_nan.groupby("country")["year"].min().reset_index()
first_co2_records_per_selected_country

         country  year
0         Brazil  1901
1          China  1907
2        Germany  1851
3          India  1858
4   Saudi Arabia  1936
5   South Africa  1884
6  United States  1851
7          World  1851

In [27]:
common_start_year_selected_countries = first_co2_records_per_selected_country["year"].max()
print(f"Earliest year where all selected countries have CO2 records:", common_start_year_selected_countries)

Earliest year where all selected countries have CO2 records: 1936

### Datasource 2: HadCRUT 5 (Temperature Dataset)

In [6]:
hadcrut5_data_url = "https://crudata.uea.ac.uk/cru/data/temperature/HadCRUT.5.0.2.0.analysis.anomalies.ensemble_mean.nc#mode=bytes"

hadcrut5_data = Dataset(hadcrut5_data_url)
print(hadcrut5_data)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    comment: 2m air temperature over land blended with sea water temperature at a depth of 20cm expressed as monthly anomalies relative to 1961-1990 climatology.
    history: Data set built at: 2024-05-08T15:31:06+00:00
    institution: Met Office Hadley Centre / Climatic Research Unit, University of East Anglia
    licence: HadCRUT5 is licensed under the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3
    reference: C. P. Morice, J. J. Kennedy, N. A. Rayner, J. P. Winn, E. Hogan, R. E. Killick, R. J. H. Dunn, T. J. Osborn, P. D. Jones and I. R. Simpson (2021), An updated assessment of near-surface temperature change from 1850: the HadCRUT5 data set, Journal of Geophysical Research: Atmospheres, 126, e2019JD032361. https://doi.org/10.1029/2019JD032361
    source: CRUTEM.5.0.2.0 HadSST.4.0.1.0
    title: HadCRUT.5.0.2.0 blended land air temperature and sea-surface temperature anomaly data set
    version: HadCRUT.5.0.2.0
    Conventions: CF-1.7
    dimensions(sizes): time(2091), latitude(36), longitude(72), bnds(2)
    variables(dimensions): float64 tas_mean(time, latitude, longitude), float64 time(time), int64 time_bnds(time, bnds), float64 latitude(latitude), float64 latitude_bnds(latitude, bnds), float64 longitude(longitude), float64 longitude_bnds(longitude, bnds), int64 realization(), int64 realization_bnds(bnds)
    groups:

In [9]:
hadcrut5_data.variables.keys()

dict_keys(['tas_mean', 'time', 'time_bnds', 'latitude', 'latitude_bnds', 'longitude', 'longitude_bnds', 'realization', 'realization_bnds'])

In [20]:
print(hadcrut5_data.variables["time"])

<class 'netCDF4._netCDF4.Variable'>
float64 time(time)
    axis: T
    bounds: time_bnds
    units: days since 1850-01-01 00:00:00
    standard_name: time
    long_name: time
    calendar: standard
unlimited dimensions:
current shape = (2091,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [21]:
print(hadcrut5_data.variables["tas_mean"])

<class 'netCDF4._netCDF4.Variable'>
float64 tas_mean(time, latitude, longitude)
    _FillValue: -1e+30
    long_name: blended air_temperature_anomaly over land with sea_water_temperature_anomaly
    units: K
    cell_methods: area: mean (interval: 5.0 degrees_north 5.0 degrees_east) time: mean (interval: 1 month) realization: mean
    coordinates: realization
unlimited dimensions:
current shape = (2091, 36, 72)
filling on

In [22]:
print(hadcrut5_data.variables["latitude"])

<class 'netCDF4._netCDF4.Variable'>
float64 latitude(latitude)
    axis: Y
    bounds: latitude_bnds
    units: degrees_north
    standard_name: latitude
    long_name: latitude
unlimited dimensions:
current shape = (36,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [23]:
print(hadcrut5_data.variables["longitude"])

<class 'netCDF4._netCDF4.Variable'>
float64 longitude(longitude)
    axis: X
    bounds: longitude_bnds
    units: degrees_east
    standard_name: longitude
    long_name: longitude
unlimited dimensions:
current shape = (72,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [48]:
time = hadcrut5_data.variables["time"][:]
time

masked_array(data=[1.55000e+01, 4.50000e+01, 7.45000e+01, ...,
                   6.35675e+04, 6.35975e+04, 6.36275e+04],
             mask=False,
       fill_value=1e+20)

In [46]:
time_units = hadcrut5_data.variables["time"].units
time_units

'days since 1850-01-01 00:00:00'

In [52]:
dates = cftime.num2date(time, units=time_units, calendar="standard")
dates

masked_array(data=[cftime.DatetimeGregorian(1850, 1, 16, 12, 0, 0, 0, has_year_zero=False),
                   cftime.DatetimeGregorian(1850, 2, 15, 0, 0, 0, 0, has_year_zero=False),
                   cftime.DatetimeGregorian(1850, 3, 16, 12, 0, 0, 0, has_year_zero=False),
                   ...,
                   cftime.DatetimeGregorian(2024, 1, 16, 12, 0, 0, 0, has_year_zero=False),
                   cftime.DatetimeGregorian(2024, 2, 15, 12, 0, 0, 0, has_year_zero=False),
                   cftime.DatetimeGregorian(2024, 3, 16, 12, 0, 0, 0, has_year_zero=False)],
             mask=False,
       fill_value='?',
            dtype=object)

In [59]:
time = pd.to_datetime([date.strftime("%Y-%m-%d %H:%M:%S") for date in dates])
time

DatetimeIndex(['1850-01-16 12:00:00', '1850-02-15 00:00:00', '1850-03-16 12:00:00',
               '1850-04-16 00:00:00', '1850-05-16 12:00:00', '1850-06-16 00:00:00',
               '1850-07-16 12:00:00', '1850-08-16 12:00:00', '1850-09-16 00:00:00',
               '1850-10-16 12:00:00',
               ...
               '2023-06-16 00:00:00', '2023-07-16 12:00:00', '2023-08-16 12:00:00',
               '2023-09-16 00:00:00', '2023-10-16 12:00:00', '2023-11-16 00:00:00',
               '2023-12-16 12:00:00', '2024-01-16 12:00:00', '2024-02-15 12:00:00',
               '2024-03-16 12:00:00'],
              dtype='datetime64[ns]', length=2091, freq=None)

In [83]:
latitude = hadcrut5_data.variables["latitude"][:]
latitude

masked_array(data=[-87.5, -82.5, -77.5, -72.5, -67.5, -62.5, -57.5, -52.5,
                   -47.5, -42.5, -37.5, -32.5, -27.5, -22.5, -17.5, -12.5,
                    -7.5,  -2.5,   2.5,   7.5,  12.5,  17.5,  22.5,  27.5,
                    32.5,  37.5,  42.5,  47.5,  52.5,  57.5,  62.5,  67.5,
                    72.5,  77.5,  82.5,  87.5],
             mask=False,
       fill_value=1e+20)

In [84]:
longitude = hadcrut5_data.variables["longitude"][:]
longitude

masked_array(data=[-177.5, -172.5, -167.5, -162.5, -157.5, -152.5, -147.5,
                   -142.5, -137.5, -132.5, -127.5, -122.5, -117.5, -112.5,
                   -107.5, -102.5,  -97.5,  -92.5,  -87.5,  -82.5,  -77.5,
                    -72.5,  -67.5,  -62.5,  -57.5,  -52.5,  -47.5,  -42.5,
                    -37.5,  -32.5,  -27.5,  -22.5,  -17.5,  -12.5,   -7.5,
                     -2.5,    2.5,    7.5,   12.5,   17.5,   22.5,   27.5,
                     32.5,   37.5,   42.5,   47.5,   52.5,   57.5,   62.5,
                     67.5,   72.5,   77.5,   82.5,   87.5,   92.5,   97.5,
                    102.5,  107.5,  112.5,  117.5,  122.5,  127.5,  132.5,
                    137.5,  142.5,  147.5,  152.5,  157.5,  162.5,  167.5,
                    172.5,  177.5],
             mask=False,
       fill_value=1e+20)

In [85]:
temperature_anomaly = hadcrut5_data.variables["tas_mean"][:]
temperature_anomaly

masked_array(
  data=[[[--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]],

        [[--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]],

        [[--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]],

        ...,

        [[-2.2739212851361152, -2.2717017464210976, -2.2682000620682103,
          ..., -2.2896589393584716, -2.283316146991263,
          -2.2776479405033707],
         [-1.6088859165540765, -1.6174430892948275, -1.6348850820722467,
          ..., -1.6378225691118635, -1.6146363369817742,
          -1.6079227056272154],
         [-0.7447459952430505, -0.6696398798521365, -0.8361694156020616,
          ..., -0.8813171997427034, -0.5698135110810923,
          -0.5707259270086796],
         ...,
         [3.2461368394526406, 3.422746323182829, 3.5578973938226928,
          ..., 2.558405947750698, 2.790313654324546, 3.028479066918888],
         [3.2411726497533455, 3.3095110381233246, 3.3697521528749195,
          ..., 3.0272802443541185, 3.097914956647038, 3.169451831632101],
         [3.1722007950638558, 3.1784372513634156, 3.1833567932522815,
          ..., 3.1507048873616204, 3.1570184127792498,
          3.1646714460956984]],

        [[-1.2196294251453828, -1.2056785258255687, -1.1867121584665714,
          ..., -1.2468147145086226, -1.2406892445681015,
          -1.2311903291889643],
         [-1.6423723546135935, -1.5931528227736285, -1.5376670345679617,
          ..., -1.7278747353604438, -1.7071961117282297,
          -1.6811497347866646],
         [-1.4009443850087837, -1.2711900605444573, -1.058621208997616,
          ..., -1.4112944600531028, -1.291312776124008,
          -1.2988791653825087],
         ...,
         [4.4024827977692675, 4.535420644115256, 4.66456954603889, ...,
          4.108166106040566, 4.166329501408601, 4.272181799190317],
         [5.598214187505623, 5.567895683297937, 5.546701887503832, ...,
          5.785162686132271, 5.705241882491903, 5.642864420479628],
         [6.533662567646344, 6.493848898655438, 6.4562427229549515, ...,
          6.668223641515978, 6.619919555891569, 6.575414806186352]],

        [[-0.03865229613529222, -0.019549839402367115,
          0.0004958954239938423, ..., -0.10453564618068038,
          -0.08178631204157077, -0.05933313798671979],
         [0.4446520135292921, 0.5099659448901943, 0.5717205621520431,
          ..., 0.2362087107580554, 0.31150439646465006,
          0.37823897321416866],
         [0.6389063279003596, 0.7400944680878139, 0.8378793417813527,
          ..., 0.3237738223332455, 0.42897251793884594,
          0.5348265828995566],
         ...,
         [2.217393989729409, 2.2360306427034415, 2.2470690762016208,
          ..., 2.1307602153726686, 2.1576251426878863,
          2.1887445037959665],
         [2.077201650679429, 2.079631029926868, 2.0799096307637868, ...,
          2.0792118333522853, 2.0767861752196954, 2.0756918804557625],
         [2.4223326839866135, 2.4241706654445663, 2.427115174767569,
          ..., 2.425766666091671, 2.422107266192344, 2.421351419233066]]],
  mask=[[[ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]],

        [[ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]],

        [[ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]],

        ...,

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]]],
  fill_value=-1e+30)

In [86]:
time_repeated = np.repeat(time, len(latitude) * len(longitude))
latitudes_tiled = np.tile(np.repeat(latitude, len(longitude)), len(time))
longitudes_tiled = np.tile(longitude, len(time) * len(latitude))
tas_mean_flattened = temperature_anomaly.flatten()

In [94]:
temperature_df = pd.DataFrame({
    "time": time_repeated,
    "latitude": latitudes_tiled,
    "longitude": longitudes_tiled,
    "temperature_anomaly": tas_mean_flattened
})

In [88]:
temperature_df.head(20)

                  time  latitude  longitude  temperature_anomaly
0  1850-01-16 12:00:00     -87.5     -177.5                  NaN
1  1850-01-16 12:00:00     -87.5     -172.5                  NaN
2  1850-01-16 12:00:00     -87.5     -167.5                  NaN
3  1850-01-16 12:00:00     -87.5     -162.5                  NaN
4  1850-01-16 12:00:00     -87.5     -157.5                  NaN
5  1850-01-16 12:00:00     -87.5     -152.5                  NaN
6  1850-01-16 12:00:00     -87.5     -147.5                  NaN
7  1850-01-16 12:00:00     -87.5     -142.5                  NaN
8  1850-01-16 12:00:00     -87.5     -137.5                  NaN
9  1850-01-16 12:00:00     -87.5     -132.5                  NaN
10 1850-01-16 12:00:00     -87.5     -127.5                  NaN
11 1850-01-16 12:00:00     -87.5     -122.5                  NaN
12 1850-01-16 12:00:00     -87.5     -117.5                  NaN
13 1850-01-16 12:00:00     -87.5     -112.5                  NaN
14 1850-01-16 12:00:00     -87.5     -107.5                  NaN
15 1850-01-16 12:00:00     -87.5     -102.5                  NaN
16 1850-01-16 12:00:00     -87.5      -97.5                  NaN
17 1850-01-16 12:00:00     -87.5      -92.5                  NaN
18 1850-01-16 12:00:00     -87.5      -87.5                  NaN
19 1850-01-16 12:00:00     -87.5      -82.5                  NaN

In [107]:
temperature_df.describe()

           latitude     longitude  temperature_anomaly
count  5.419872e+06  5.419872e+06         4.320299e+06
mean   0.000000e+00  0.000000e+00         2.416922e-02
std    5.194148e+01  1.039130e+02         1.252225e+00
min   -8.750000e+01 -1.775000e+02        -1.632776e+01
25%   -4.375000e+01 -8.875000e+01        -5.471292e-01
50%    0.000000e+00  0.000000e+00        -4.255104e-02
75%    4.375000e+01  8.875000e+01         5.202598e-01
max    8.750000e+01  1.775000e+02         1.260586e+01

#### Example output for Germany: Latitude from round about 47.0 to 55.0 and Longitude round about from 6 to 15.0

In [97]:
latitude_min, latitude_max = 47.0, 55.0
lonitude_min, lonitude_max = 5.0, 15.0

germany_temperature_df = temperature_df[
    (temperature_df["latitude"] >= latitude_min) & (temperature_df["latitude"] <= latitude_max) &
    (temperature_df["longitude"] >= lonitude_min) & (temperature_df["longitude"] <= lonitude_max)
]

In [106]:
germany_temperature_df.tail(30)

                       time  latitude  longitude  temperature_anomaly
5401189 2023-08-16 12:00:00      52.5        7.5             1.282772
5401190 2023-08-16 12:00:00      52.5       12.5             1.671073
5403709 2023-09-16 00:00:00      47.5        7.5             4.145071
5403710 2023-09-16 00:00:00      47.5       12.5             3.857300
5403781 2023-09-16 00:00:00      52.5        7.5             3.735371
5403782 2023-09-16 00:00:00      52.5       12.5             4.087284
5406301 2023-10-16 12:00:00      47.5        7.5             3.298222
5406302 2023-10-16 12:00:00      47.5       12.5             3.533096
5406373 2023-10-16 12:00:00      52.5        7.5             2.342744
5406374 2023-10-16 12:00:00      52.5       12.5             2.448181
5408893 2023-11-16 00:00:00      47.5        7.5             1.684686
5408894 2023-11-16 00:00:00      47.5       12.5             1.545346
5408965 2023-11-16 00:00:00      52.5        7.5             1.368923
5408966 2023-11-16 00:00:00      52.5       12.5             1.250290
5411485 2023-12-16 12:00:00      47.5        7.5             3.305251
5411486 2023-12-16 12:00:00      47.5       12.5             3.247425
5411557 2023-12-16 12:00:00      52.5        7.5             2.453006
5411558 2023-12-16 12:00:00      52.5       12.5             2.534614
5414077 2024-01-16 12:00:00      47.5        7.5             2.165553
5414078 2024-01-16 12:00:00      47.5       12.5             2.469469
5414149 2024-01-16 12:00:00      52.5        7.5             1.543163
5414150 2024-01-16 12:00:00      52.5       12.5             1.895748
5416669 2024-02-15 12:00:00      47.5        7.5             5.334791
5416670 2024-02-15 12:00:00      47.5       12.5             6.051443
5416741 2024-02-15 12:00:00      52.5        7.5             4.642115
5416742 2024-02-15 12:00:00      52.5       12.5             5.856949
5419261 2024-03-16 12:00:00      47.5        7.5             3.584874
5419262 2024-03-16 12:00:00      47.5       12.5             4.078607
5419333 2024-03-16 12:00:00      52.5        7.5             3.565181
5419334 2024-03-16 12:00:00      52.5       12.5             4.026286